/* VARIABLES */
:root {
    --head-foot-clr: #2C3E50;
    --hero-bkg-clr: #1ABC9C; 
}

/* COMMON */
ul {
    list-style-type: none;
}

/* NAV LIST */
nav {
    background-color: var(--head-foot-clr);
    color: white;
    height: 80px;
}

nav button {
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    background-color: var(--head-foot-clr);
}

.ms_logo {
    margin: 0;
    font-weight: 600;
}

/* HERO IMAGE SECTION */
.ms_hero_container {
    background-color: var(--hero-bkg-clr);
    color: white;
}

.ms_hero_container p {
    
}

