/* VARIABLES */
:root {
    --head-foot-clr: #2C3E50;
    --hero-bkg-clr: #1ABC9C;
    --footer-top: #3A546D;
}

/* COMMON */
ul {
    list-style-type: none;
}
/* BUTTON */
.ms_button {
    background-color: var(--hero-bkg-clr);
    border: none;
}

.ms_button:hover {
    opacity: 0.7;
}

/* STAR BARS */
.star-width {
    min-width: 65px;
    max-width: 180px;
    border-top: 3px solid;
    border-radius: 2px;
}
/* NAV LIST */
header {
    background-color: var(--head-foot-clr);
}

header ul {
    font-weight: 500;
}

.ms_hmb_style {
    border: 1px solid white;
}


/* HERO IMAGE SECTION */
.ms_hero_container {
    background-color: var(--hero-bkg-clr);
    color: white;
    margin-top: 58px;
}

.ms_hero_container p {
    font-size: clamp(0.8rem, 1.5vw, 1rem);
}

.hero_img {
    max-width: 255px;
}

/* ABOUT SECTION */
.about {
    background-color: var(--hero-bkg-clr);
    color: white;
}

.about a {
    background-color: var(--hero-bkg-clr);
    border: 1px solid white;
    border-radius: 5px;
    text-decoration: none;
    color: white;
}

.ms_about a {
    color: var(--hero-bkg-clr);
    text-decoration: none;
}

/* FORM SECTION */
.ms_form_control {
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    padding: 0;
}

.ms_form_style label {
    margin: 0;
    padding: 0;
}

.form-floating .ms_textarea {
    height: 200px;
}

/* FOOTER SECTION */
.ms_bottom_footer {
    height: 80px;
}

footer :first-child {
    background-color: var(--footer-top);
    color: white;
}
.ms_bottom_footer p {
    color: white;
    line-height: 80px;
    font-size: 0.8rem;
    background-color: var(--head-foot-clr);
}

.ms_top_footer i {
    border: 1px solid white;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    line-height: 30px;
}

.ms_icons {
    gap: 1rem;
} 

footer h4 {
    font-size: 1em;
    font-weight: 500;
}

footer p {
    font-size: 0.8em;
}

.ms_icons a {
    text-decoration: none;
}